{% for block in blocks %}
  <div class="content-item">
    <h1 class="content-title">
      <span class="highlighted-text" style="color: #000">{{block.title}}</span>
    </h1>
    <br />
    <p class="content-text">
      {{block.content}}
    </p>
  </div>

  {% if block.show_link%}
  <div align="center" class="button-div">
    <div class="button-content">
      <a
        href={{block.link}}
        target="_blank"
        class="cta-text"
      >
        {{block.link_text}}
      </a>
    </div>
  </div>
  {% endif %}
{% endfor %}
